<%= turbo_frame_tag "cart" do%>
<div >
  <%c = 0%>
  <% @cart.orderables.each do |o| %>
    <%c+=o.quantity%>
  <% end %>
  <%= link_to "Checkout (#{ c })", checkout_path , class: "btn btn-primary"  %>

</div>
<% end %>
