<div id="<%= dom_id order %>">
  <p>
    <strong>Orderstatus:</strong>
    <%= order.orderStatus %>
  </p>

  <p>
    <strong>Ordernote:</strong>
    <%= order.orderNote %>
  </p>

  <p>
    <strong>Savedprice:</strong>
    <%= order.savedPrice %>
  </p>

</div>
