<div id="<%= dom_id province %>">
  <p>
    <strong>Name:</strong>
    <%= province.name %>
  </p>

  <p>
    <strong>Abbreviation:</strong>
    <%= province.abbreviation %>
  </p>

  <p>
    <strong>Salestax:</strong>
    <%= province.salesTax %>
  </p>

</div>
